<div class="row" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.w3.org/1999/xhtml">

    <nav class="navbar navbar-expand-lg navbar-light bg-custom col-lg-12">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-white active ml-2" th:href="@{/home}">
            <img th:src="@{/images/logo.png}" id="logo" class="rounded mx-auto d-block" alt="Logo">
        </a>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/home}"
                       th:classappend="${#httpServletRequest.requestURI.contains('home') ? 'active' : ''}">
                        HOME
                    </a>
                </li>
                <li class="nav-item dropdown bg-custom" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="catalog-dropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:classappend="${#httpServletRequest.requestURI.contains('catalog') ? 'active' : ''}">
                        CATALOG
                    </a>
                    <div class="dropdown-menu bg-custom" aria-labelledby="catalog-dropdown">
                        <a class="nav-link text-white" th:href="@{/companies/catalog}"
                           th:classappend="${#httpServletRequest.requestURI.contains('companies') ? 'active' : ''}">
                            Companies
                        </a>
                        <a class="nav-link text-white" th:href="@{/employees/catalog}"
                           th:classappend="${#httpServletRequest.requestURI.contains('employees') ? 'active' : ''}">
                            Employees
                        </a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-white" th:href="@{/exports}"
                       th:classappend="${#httpServletRequest.requestURI.contains('exports') ? 'active' : ''}">
                        EXPORTS
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-white" th:href="@{/imports}"
                       th:classappend="${#httpServletRequest.requestURI.contains('imports') ? 'active' : ''}">
                        IMPORTS
                    </a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">

                <ul class="navbar-nav mr-auto mr-2 mt-lg-0" sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown bg-custom" sec:authorize="hasAnyRole('ROOT_ADMIN', 'ADMIN')">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="admin-dropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           th:classappend="${#httpServletRequest.requestURI.contains('admin') ? 'active' : ''}">
                            ADMIN
                        </a>
                        <div class="dropdown-menu bg-custom" aria-labelledby="admin-dropdown">
                            <a class="nav-link text-white" th:href="@{/admin/users}"
                               th:classappend="${#httpServletRequest.requestURI.contains('admin/users') ? 'active' : ''}">
                                Users
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown bg-custom">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="user-dropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           th:text="'Hi, ' + ${loggedUser.firstName}">
                        </a>
                        <div class="dropdown-menu bg-custom p-1" aria-labelledby="user-dropdown">
                            <h6 class="nav-item text-white pt-1 pb-1 pl-1 mb-0" th:text="${loggedUser.role}"></h6>
                            <div class="nav-item">
                                <form th:action="@{/logout}" method="post">
                                    <button class="nav-link text-white pt-1 pb-1 pl-1" type="submit">
                                        <span>Logout</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/login}"
                           th:classappend="${#httpServletRequest.requestURI.contains('login') ? 'active' : ''}">
                            LOGIN
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/register}"
                           th:classappend="${#httpServletRequest.requestURI.contains('register') ? 'active' : ''}">
                            REGISTER
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>