$dark-blue-matted: #495A67;

body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #F3F6FA !important;;
}

.navbar {

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        #logo {
            max-width: 35px;
        }
    }

    .dropdown-menu {
        background-color: inherit;
        border: 1px solid #61717D !important;
        min-width: 8.5rem;
    }

    .active {
        font-weight: 600;
    }

    a:hover, button.nav-link:hover {
        color: #89d334 !important;
    }

    button.nav-link {
        background: no-repeat;
        border: none;
        color: #FFF;
        outline: none;
    }
}

.jumbotron {
    width: 98% !important;
    max-width: 1400px !important;
    margin: 1rem auto;
    padding: calc(1.5rem + 2.5%) calc(1rem + 3%) !important;
}

main {

    max-width: 1240px !important;

    .section-header {

        .btn-wrapper {
            margin-top: -0.5rem;
            padding-bottom: 1rem !important;
        }

        #include-companies-with-no-data-select-box {
            padding: 0.5rem 0 0 2.3rem;
        }
    }

    .table-wrapper {
        position: relative;

        .table {

            text-align: left;

            th {
                font-weight: bold;
                color: #6c757d;
            }

            .btn-col {
                padding: 0.5rem;
            }

            tbody tr:last-child td, tbody tr:last-child th {
                border-bottom: 1px solid #dee2e6;
            }
        }

        .table-spinner-wrapper {
            min-height: 500px;

            .table-spinner {
                width: 3rem !important;
                height: 3rem !important;

                position: absolute;

                top: calc(50% - 1.5rem);
                left: calc(50% - 1.5rem);
            }
        }

        .details-table {
            tbody tr td:first-child {
                min-width: 400px;
            }
        }

        #users-table {

            .btn {
                width: 110px;
            }

            td, th {
                max-width: 260px;
            }
        }

        #user-details-table {
            td {
                width: 50%;
            }
        }
    }

    .page-item.active .page-link {
        z-index: 0;
        background-color: $dark-blue-matted;
        border-color: $dark-blue-matted;
    }

    .page-link {
        color: $dark-blue-matted;
    }

    .row {
        margin-right: 0;
        margin-left: 0;

        .card {
            padding: 0;
            border: none;

            .list-group-item {
                min-height: 50px;
            }
        }
    }
}

.bg-custom {
    background-color: $dark-blue-matted !important;
    border-color: $dark-blue-matted;
}

.rounded-form {
    border-radius: 10px;
}

#notification-container {
    width: 500px;
    max-width: 98%;
    position: fixed;
    top: 65px;
    right: 5px;

    .alert:hover {
        cursor: pointer;
    }
}

.status {
    font-weight: bold;
}

.active {
    color: #3ec120;
}

.inactive {
    color: grey;
}

.suspended {
    color: #ce2b2b;
}

.container-fluid .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media all and (max-width: 991px) {
    main {
        .section-header {
            #include-companies-with-no-data-select-box {
                margin-bottom: 2rem;
            }
        }
    }
}

@media all and (max-width: 920px) {
    main {
        .table-wrapper {
            .details-table {
                tbody tr td:first-child {
                    min-width: auto;
                }
            }
        }
    }
}