$dark-blue: #495A67;
$green-button-color: #85C81A;
$green-button-hover-color: #6fba23;

body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #F3F6FA !important;;
}

.bg-custom {
    background-color: $dark-blue !important;
}

.btn {
    width: 100%;
}

.btn-spinner {
    margin-bottom: 2px;
    margin-right: 2px;
}

.rounded-form {
    border-radius: 10px;
}

#notification-container {
    width: 500px;
    max-width: 98%;
    position: fixed;
    top: 65px;
    right: 5px;

    .alert:hover {
        cursor: pointer;
    }
}

.status {
    font-weight: bold;
}

.active {
    color: #3ec120;
}

.inactive {
    color: grey;
}

.btn-spinner {
    margin-bottom: 2px;
    margin-right: 2px;
}

.btn-success {
    background-color: $green-button-color !important;
    border-color: $green-button-color !important;
}

.btn-success:hover {
    background-color: $green-button-hover-color !important;
    border-color: $green-button-hover-color !important;
}

.navbar {

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        #logo {
            max-width: 35px;
        }
    }

    .dropdown-menu {
        background-color: inherit;
        border: 1px solid #61717D;
        min-width: 8.5rem;
    }

    .active {
        font-weight: 600;
    }

    a:hover, button.nav-link:hover {
        color: #89d334 !important;
    }

    button.nav-link {
        background: no-repeat;
        border: none;
        color: #FFF;
        outline: none;
    }
}

.jumbotron {
    width: 98% !important;
    max-width: 1400px !important;
    margin: 1rem auto;
    padding: 4rem 4rem !important;
}

main {

    max-width: 1240px !important;

    .section-header {

        .btn-wrapper {
            padding-top: 1.5rem !important;
            padding-bottom: 1rem !important;

            .btn {
                width: 100%;
            }
        }
    }

    .table-wrapper {
        position: relative;

        .table {

            text-align: left;

            th {
                font-weight: bold;
                color: #6c757d;
            }

            .btn-col {
                padding: 0.5rem;
            }

            tbody tr:last-child td, tbody tr:last-child th {
                border-bottom: 1px solid #dee2e6;
            }
        }

        .table-spinner-wrapper {
            min-height: 500px;

            .table-spinner {
                width: 3rem !important;
                height: 3rem !important;

                position: absolute;

                top: calc(50% - 1.5rem);
                left: calc(50% - 1.5rem);
            }
        }

        .details-table {
            tbody tr td:first-child {
                min-width: 400px;
            }
        }

        #users-table {

            .btn {
                width: 110px;
            }

            td, th {
                max-width: 260px;
            }
        }

        #user-details-table {
            td {
                width: 50%;
            }
        }
    }

    .page-item.active .page-link {
        background-color: $dark-blue;
        border-color: $dark-blue;
    }

    .page-link {
        color: $dark-blue;
    }

    .row {
        margin-right: 0;
        margin-left: 0;

        .card {
            padding: 0;
            border: none;

            .list-group-item {
                min-height: 50px;
            }
        }
    }
}