body {
    font-family: 'Montserrat', sans-serif !important;
}

.bg-custom {
    background-color: #c44725;
}

.btn {
    width: 100%;
}

.btn-spinner {
    margin-bottom: 2px;
    margin-right: 2px;
}

.rounded-form {
    background: #e7efda;
    border-radius: 10px;
}

#notification-container {
    width: 500px;
    max-width: 98%;
    position: fixed;
    top: 65px;
    right: 5px;

    .alert:hover {
        cursor: pointer;
    }
}

.navbar {

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        #logo {
            max-width: 35px;
        }
    }

    .dropdown-menu {
        background-color: inherit;
        min-width: 8rem;
    }

    .active {
        font-weight: 600;
    }

    a:hover, button.nav-link:hover {
        color: #75ea7b !important;
    }

    button.nav-link {
        background: no-repeat;
        border: none;
        color: #FFF;
        outline: none;
    }
}

main {

    .section-header {

        .btn-wrapper {
            padding-top: 1.5rem !important;
            padding-bottom: 1rem !important;

            .btn {
                width: 100%;
            }

            .btn-spinner {
                margin-bottom: 2px;
                margin-right: 2px;
            }

            .btn-success {
                background-color: #60B515;
                border-color: #60B515;
            }

            .btn-success:hover {
                background-color: #48960C;
                border-color: #48960C;
            }
        }
    }

    .table-wrapper {
        position: relative;

        .table {

            text-align: left;

            th {
                font-weight: bold;
                color: #6c757d;
            }

            .btn-col {
                padding: 0.5rem;
            }

            tbody tr:last-child td, tbody tr:last-child th {
                border-bottom: 1px solid #dee2e6;
            }
        }

        .table-spinner-wrapper {
            min-height: 500px;

            .table-spinner {
                width: 3rem !important;
                height: 3rem !important;

                position: absolute;

                top: calc(50% - 1.5rem);
                left: calc(50% - 1.5rem);
            }
        }
    }

    .page-item.active .page-link {
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .page-link {
        color: #6c757d;
    }
}