<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}">
    </th:block>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <th:block th:include="~{fragments/navbar}">
        </th:block>
    </div>
    <main class="container">
        <div class="row mt-4 mb-4">

            <div class="container-fluid section-header">
                <h1 class="container-fluid text-center mb-4">Companies Catalog</h1>
                <form class="row">
                    <div class="form-row col-lg-4">
                        <div class="form-group col-lg-12">
                            <label for="industry-select"> </label>
                            <select id="industry-select" class="form-control">
                                <option value="all">All Industries</option>
                                <optgroup id="major-industries" label="________ Major ________">
                                </optgroup>
                                <optgroup id="minor-industries" label="________ Minor ________">
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="btn-wrapper col-lg-2"></div>
                    <div class="btn-wrapper col-lg-2">
                        <button id="export-btn" class="btn btn-success" type="button">
                            <span class="btn-text">EXPORT</span>
                        </button>
                    </div>
                </form>
            </div>

            <th:block th:include="~{fragments/pagination}">
            </th:block>

            <div class="container-fluid text-center table-wrapper align-middle">
                <table id="companies-table" class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Company name<i class="fas fa-sort-down ml-2"></i></th>
                        <th scope="col">Industry<i class="fas fa-sort-down ml-2"></i></th>
                        <th scope="col">Website<i class="fas fa-sort-down ml-2"></i></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="table-spinner-wrapper">
                    <div class="table-spinner spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>

            <th:block th:include="~{fragments/pagination}">
            </th:block>

        </div>
    </main>
    <th:block th:include="~{fragments/notification-container}">
    </th:block>
</div>
</body>
<script type="text/javascript" th:src="@{/js/pages/companies.js}"></script>
<script type="text/javascript" th:src="@{/js/pagination.js}"></script>
</html>