<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head}"></div>

<body>
<div class="container-fluid">

    <div th:replace="~{fragments/navbar}"></div>

    <main class="container">
        <div class="my-4">

            <div class="container-fluid section-header">
                <h2 class="container-fluid text-center">Edit Profile</h2>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-8 mx-auto">
                    <form th:action="@{/profile/edit}" th:method="put" th:object="${bindingModel}">
                        <div class="form-group">
                            <label for="email">First name</label>
                            <input type="text" name="firstName" class="form-control" id="first-name"
                                   placeholder="First name" th:field="*{firstName}">
                            <small class="text-danger" th:each="error: ${#fields.errors('firstName')}" th:text="${error}"></small>
                        </div>
                        <div class="form-group">
                            <label for="email">Last name</label>
                            <input type="text" name="lastName" class="form-control" id="last-name"
                                   placeholder="Last name" th:field="*{lastName}">
                            <small class="text-danger" th:each="error: ${#fields.errors('lastName')}" th:text="${error}"></small>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" name="email" class="form-control" id="email"
                                   placeholder="Email" th:field="*{email}">
                            <small class="text-danger" th:each="error: ${#fields.errors('email')}" th:text="${error}"></small>
                        </div>
                        <div class="col-lg-5 p-0 mx-auto">
                            <button id="update-btn" type="submit" class="btn btn-success mx-auto mt-2">Update</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </main>
    <div th:replace="~{fragments/notification-container}"></div>
</div>
</body>
<script th:src="@{/js/pages/edit-profile.js}"></script>
</html>