<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}">
    </th:block>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <th:block th:include="~{fragments/navbar}">
        </th:block>
    </div>
    <main class="container">
        <div class="row mt-4">
            <h1 class="col-lg-12 text-dark text-center">Something went wrong</h1>
        </div>
    </main>
</div>
</body>
</html>