<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}">
    </th:block>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <th:block th:include="~{fragments/navbar}">
        </th:block>
    </div>
    <main class="container">
        <div class="row mt-4">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <form th:action="@{/import/xing}" method="post" enctype="multipart/form-data" class="row">
                    <div class="custom-file col-lg-8 mr-4">
                        <input type="file" name="file" readonly class="custom-file-input" id="xing-input"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                        <label class="custom-file-label" for="xing-input">Choose XING file</label>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 col-lg-3">Import</button>
                </form>
                <form th:action="@{/import/orbis}" method="post" enctype="multipart/form-data" class="row">
                    <div class="custom-file col-lg-8 mr-4">
                        <input type="file" name="file" readonly class="custom-file-input" id="orbis-input"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                        <label class="custom-file-label" for="orbis-input">Choose Orbis file</label>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 col-lg-3">Import</button>
                </form>
                <form th:action="@{/import/employees}" method="post" enctype="multipart/form-data" class="row">
                    <div class="custom-file col-lg-8 mr-4">
                        <input type="file" name="file" readonly class="custom-file-input" id="employees-input"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                        <label class="custom-file-label" for="employees-input">Choose Employees file</label>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 col-lg-3">Import</button>
                </form>
                <div class="row mt-4">
                    <a th:href="@{/export/employees}" class="btn btn-success mb-2 col-lg-4">Export Employees</a>
                    <div class="col-lg-1"></div>
                    <a th:href="@{/export/companies}" class="btn btn-success mb-2 col-lg-4">Export Companies</a>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </main>
    <th:block th:include="~{fragments/notification-container}">
    </th:block>
</div>
</body>
</html>