<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:replace="~{fragments/head}"></div>

<body>
<div class="container-fluid">

    <div th:replace="~{fragments/navbar}"></div>

    <div class="container-fluid">
        <div class="jumbotron bg-custom text-white mt-5">
            <h1 class="display-4">Welcome to Aggregator!</h1>
            <p class="lead">The fastest growing CRM system.</p>
            <hr class="my-4">
            <p>We have accumulated information about more than 20 000 companies. Check out our rich catalog.</p>
            <div class="row mt-5">
                <div class="col-lg-2">
                    <a class="btn btn-success btn-lg" th:href="@{/companies/catalog}" role="button">Companies</a>
                </div>
                <div class="col-lg-2">
                    <a class="btn btn-success btn-lg" th:href="@{/employees/catalog}" role="button">Employees</a>
                </div>
                <div class="col-lg-2" sec:authorize="isAuthenticated()">
                    <a class="btn btn-success btn-lg" th:href="@{/exports}" role="button">My Exports</a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/notification-container}"></div>
</div>
</body>
</html>